# Secret Key to assign JWT Tokens
# Can be generated with: openssl rand -hex 32
SECRET_KEY="uma-chave-secreta-bem-longa-e-aleatoria-0123456789"

# Algoritmo de assinatura do JWT
ALGORITHM="HS256"

# change the variable in /core/config.py
# ACCESS_TOKEN_EXPIRE_MINUTES=1
ACCESS_TOKEN_EXPIRE_SECONDS=25
