# Poetry / Virtual Environments
/.venv/
.env*


# Python
__pycache__/
*.pyc
*.pyo
*.pyd


# Cache / Tools
.ruff_cache/
.pytest_cache/
.mypy_cache/


# Data / Db / Logs

data/
logs/

# Exception
!data/.gitkeep
!logs/.gitkeep

# Extensions
*.csv
*.db
*.sqlite3
*.log


# System / IDE
.DS_Store
.vscode/
.idea/