# Poetry / Virtual Environments
.venv/
.env
poetry.lock

# Python
__pycache__/
*.pyc
.ruff_cache/
.pytest_cache/

# Data and db
/data/database.db
*.csv

# IDE configs
.vscode/
.idea/

# Log files
logs/
*.log

